{% extends "master.html.twig" %}
{% block title %}Add Employee{% endblock %}
{% block headExtra %}
    <link rel="stylesheet" type="text/css" href="../styles/addEmployee.css"/>
    <script type="text/javascript" src="../scripts/addEmployee.js"></script>
{% endblock %}
{% block content %}       
    <form method="post" id="form" name="form" onsubmit="return validateForm();">
        <table>
            <caption>
                <h1>Add a Customer</h1>
            </caption>
            <tr>
                <td class="labels">
                    <label for="firstname">First Name:</label>
                </td>
                <td>
                    <input type="text" id="firstname" name="firstname" required/>
                </td>
                <td class="labels">
                    <label for="country">Country:</label>
                </td>
                <td>
                    <input type="text" id="country" name="country" value="Canada" required/>
                </td>
                <td rowspan="4">
                    <img src="images/Bluewallpapers4.jpg" alt="uploaded pic"/>
                </td>
            </tr>
            <tr>
                <td class="labels">
                    <label for="lastname">Last Name:</label>
                </td>
                <td>
                    <input type="text" id="lastname" name="lastname" required />
                </td>
                <td class="labels">
                    <label for="email">Email:</label>
                </td>
                <td>
                    <input type="email" id="email" name="email" placeholder="name@example.com" required/>
                </td>
            </tr>
            <tr>
                
                <td class="labels">
                    <label for="phone">Phone:</label>
                </td>
                <td>
                    <input type="tel" id="phone" name="phone" placeholder="999-999-9999" required/>
                </td>
            </tr>
            
            <tr>
                <td class="labels">
                    <label for="address">Address:</label>
                </td>
                <td colspan="3">
                    <input type="text" id="address" name="address" size="66" required/>
                </td>
                
            </tr>
            <tr>
                <td class="labels">
                    <label for="appNo">App No.:</label>
                </td>
                <td>
                    <input type="text" id="appNo" name="appNo" pattern="[0-9]{1,}" placeholder="Number Only" required/>
                </td>
                
                <td rowspan="3">
                    <input type="submit" value="Add Customer" id="submit" />
                </td>
            </tr>
            <tr>
                <td class="labels">
                    <label for="postalcode">PostalCode:</label>
                </td>
                <td>
                    <input type="text" id="postalcode" name="postalcode" required/>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="reset" value="Clear The Form" style="width:260px;height:25px;" />
                </td>
                
            </tr>
        </table>
    </form>
