{% extends "master.html.twig" %}
{% block title %}Change Password{% endblock %}
{% block headExtra %}
    <!-- <link rel="stylesheet" type="text/css" href="/styles/listemployee.css"/>-->
    <style>
        .err{
            color: red;
        }
        table{
            margin-top: 50px;
            margin-left: 200px;
            font-size: 22px;
            font-weight: bold;
        }
        .btn{
            height: 30px;
            width: 180px;
        }

    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
        function validateForm() {
            var pass1 = document.getElementById("newpass1").value;
            var password = /^(?=.*[0-9])(?=.*[!@#$%^&*])[a-zA-Z0-9!@#$%^&*]{6,16}$/;
            if (!pass1.match(password)) {
                window.alert("Valid Password has at least one number and one special character!");
                document.getElementById("newpass1").focus();
                return false;
            }
            var pass2 = document.getElementById("newpass2").value;
            if (pass2 !== pass1) {
                window.alert("Both Passwords must be match!");
                document.getElementById("newpass2").focus();
                return false;
            }
            return true;
        }
    </script>

{% endblock %}
{% block content %}  
    {% if error %}
        <h3 class="err">Error: Old Password is not true or may your new password is same as the old one!</h3>
    {% endif %}
    <form method="post" name="form" onsubmit="return validateForm();">
        <table>     
            <tr>
                <td>
            <lable for="oldpass" va>Enter old Password:</lable>
            </td>
            <td>
                <input type="password" name="oldpass" id="oldpass">
            </td>
            </tr>
            <tr>
                <td>
            <lable for="newpass1" va>Enter new Password:</lable>
            </td>
            <td>
                <input type="password" name="newpass1" id="newpass1">
            </td>
            </tr>
            <tr>
                <td>
            <lable for="newpass2" va>Confirm Password:</lable>
            </td>
            <td>
                <input type="password" name="newpass2" id="newpass2">
            </td>
            </tr>
            <tr>
                <td>
                    <input type="reset" value="Clear" class="btn"/> 
                </td>
                <td>
                    <input type="submit" value="Change" class="btn"/>                       
                </td>
            </tr>
        </table>
    </form>
{% endblock %}