{% extends "master.html.twig" %}

{% block title %}Employee Added{% endblock %}

{% block content %}
    
<p>You've added new employee.
    <a href="../project.php/addemployee">Add new employee ?</a>.</p>

{% endblock content %}
