<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link href="/styles/master.css" type="text/css" rel="stylesheet" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <title>{% block title %}{% endblock %}</title>
    {% block headExtra %}{% endblock %}
</head>
<body>
    <header>      
        <h1>
            Cutomer Relationship Managment
        </h1>
    </header>
    <aside id="left">
        <nav>
            <ul id="mainmenu">
                <li>
                    <a href="/dashboard">Dashborad</a>    
                </li>
                <li>
                    <a href="/listemployee">Employees</a>                     
                </li>
                <li>
                    <a href="/listcustomers">Customers</a>                   
                </li>
                <li>
                    <a href="/listproducts">Products</a>                    
                </li>
                <li>
                    <a href="/viewcart">View Cart</a>                    
                </li>
                <li>
                    <a href="#">Reports</a>             
                </li>
            </ul>
        </nav>
    </aside>
    <main id="content">
    {% block content %}{% endblock %}
</main>
<aside id="right">
    <img src="/viewphotousers/{{user.id}}" id="loginedimg" alt="logedin user" title="logedin Employee"/>
    <br/>
    <iframe src="http://free.timeanddate.com/clock/i5q55ask/n165/tt0/tw1/tm1/tb4" frameborder="0" width="123" height="36" id="timedate"></iframe><br/>
    <nav>
        <ul id="mainmenu">
            <li>
                <a href="/logout">Logout</a>    
            </li>
            <li>
                <a href="/changepassword">Change Password</a>                     
            </li>
        </ul>
    </nav>
    <br/>
    <h4 style="color: red">Flash Messages</h4>
{% block leftaside %}{% endblock %}
</aside>
<footer>
    <h3>Designed by Aliakbar &amp; Sebastien. All Right Reserved.&copy;</h3>
</footer>
</body>
</html>
