<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Reset Password</title>
        <link href="https://fonts.googleapis.com/css?family=Coiny" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Nova+Slim" rel="stylesheet">
        <link href="/styles/login.css" type="text/css" rel="stylesheet"/>
    </head>
    <body> 
        <main>
            <header>
                <h1>Password reset - email sent</h1>
                <h4>Email with password reset code has been sent.
                    Please allow the email a few minutes to arrive.</h4>
                <a href="/" id="">Click here to continue</a></p>
            </header>
        </main>
    </body>
</html>
