<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Failed reset</title>
        <link href="https://fonts.googleapis.com/css?family=Coiny" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Nova+Slim" rel="stylesheet">
        <link href="/styles/login.css" type="text/css" rel="stylesheet"/>
    </head>
    <body> 
        <main>
            <header>
                <h1>Failed reset</h1>
                <h4>Password reset token does not exist or has expired.</h4>
            </header>
                <table>
                    <tr>
                        <td>
                            You may <a href="/passreset" id="forgetpass">request a new token</a>Or<a href="/" id="forgetpass">Login</a>
                        </td>
                    </tr>
                </table>
        </main>
    </body>
</html>
