{% extends "master.html.twig" %}


{% block content %}
    
        <form class="form-horizontal" method="post">
                <fieldset>
                    <div class="input-group input-group-lg">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user red"></i></span>
                        <input type="text" class="form-control" placeholder="Product Name" name="productname">
                    </div>
                    <div class="clearfix"></div><br>

                    <div class="input-group input-group-lg">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock red"></i></span>
                        <input type="text" class="form-control" placeholder="Description" name="description">
                    </div>
                    <div class="clearfix"></div><br>
                    
                    <div class="input-group input-group-lg">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock red"></i></span>
                        <input type="text" class="form-control" placeholder="Price eg: 199.99" name="price">
                    </div>
                    <div class="clearfix"></div><br>
                    
                    <div class="input-group input-group-lg">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock red"></i></span>
                        <input type="text" class="form-control" placeholder="Vendor ID" name="vendorId">
                    </div>
                    
                    
                    <p class="center col-md-5">
                        <button type="submit" class="btn btn-primary">Add Product</button>
                    </p>
                </fieldset>
            </form>

{% endblock content %}

