{% extends "master.html.twig" %}

{% block title %}Login successful{% endblock %}

{% block content %}
    
<p>You've logged in succesfull.
    <a href="../project.php/crm"></a></p>

{% endblock content %}