<!DOCTYPE html>
<html>
    <head>
        
        
        <title>{% block title %}{% endblock %}</title>
        <!-- The styles -->
    <link id="bs-css" href="../css/bootstrap-cerulean.min.css" rel="stylesheet">

    <link href="../css/charisma-app.css" rel="stylesheet">
    <link href='../bower_components/fullcalendar/dist/fullcalendar.css' rel='stylesheet'>
    <link href='../bower_components/fullcalendar/dist/fullcalendar.print.css' rel='stylesheet' media='print'>
    <link href='../bower_components/chosen/chosen.min.css' rel='stylesheet'>
    <link href='../bower_components/colorbox/example3/colorbox.css' rel='stylesheet'>
    <link href='../bower_components/responsive-tables/responsive-tables.css' rel='stylesheet'>
    <link href='../bower_components/bootstrap-tour/build/css/bootstrap-tour.min.css' rel='stylesheet'>
    <link href='../css/jquery.noty.css' rel='stylesheet'>
    <link href='../css/noty_theme_default.css' rel='stylesheet'>
    <link href='../css/elfinder.min.css' rel='stylesheet'>
    <link href='../css/elfinder.theme.css' rel='stylesheet'>
    <link href='../css/jquery.iphone.toggle.css' rel='stylesheet'>
    <link href='../css/uploadify.css' rel='stylesheet'>
    <link href='../css/animate.min.css' rel='stylesheet'>
    <!-- The fav icon -->
    <link rel="shortcut icon" href="../img/favicon.ico">
    <!-- jQuery -->
    <script src="../bower_components/jquery/jquery.min.js"></script>
        {% block headExtra %}{% endblock %}
    </head>
    <body>
    <!-- topbar starts -->
    <div class="navbar navbar-default" role="navigation">

        
            <a class="navbar-brand" href="index.html"> <img alt="Logo" src="" class="hidden-xs"/>
                <span>CrM</span></a>

            


        </div>
    </div>
    <!-- topbar ends -->


<div class="ch-container">
    <div class="row">
        
        <!-- left menu starts -->
        <div class="col-sm-2 col-lg-2">
            <div class="sidebar-nav">
                <div class="nav-canvas">
                    <div class="nav-sm nav nav-stacked">

                    </div>
                    <ul class="nav nav-pills nav-stacked main-menu">
                        <li class="nav-header">Main</li>
                        <li><a class="ajax-link" href="../project.php/dash"><i class="glyphicon glyphicon-home"></i><span> Dashboard</span></a>
                        </li>
                        <li><a class="ajax-link" href="../project.php/addemployee"><i class="glyphicon glyphicon-eye-open"></i><span> Add Employee</span></a>
                        </li>
                        <li><a class="ajax-link" href="../project.php/addcustomer"><i class="glyphicon glyphicon-eye-open"></i><span> Add Customer</span></a>
                        </li>
                        <li><a class="ajax-link" href="../project.php/addtask"><i class="glyphicon glyphicon-edit"></i><span> Add Tasks</span></a></li>
                        
                        <li><a class="ajax-link" href="../project.php/addproduct"><i class="glyphicon glyphicon-list-alt"></i><span> Add Product</span></a>
                        
                        
                        <li><a class="ajax-link" href="../project.php/views"><i
                                    class="glyphicon glyphicon-align-justify"></i><span> Views</span></a></li>
                        
                        <li><a class="ajax-link" href="../project.php/calender"><i class="glyphicon glyphicon-calendar"></i><span> Calendar</span></a>
                        </li>
                        <li><a class="ajax-link" href="../project.php/logout"><i class="glyphicon glyphicon-calendar"></i><span> Logout</span></a>
                        </li>
                    </ul>
                    <!--<label id="for-is-ajax" for="is-ajax"><input id="is-ajax" type="checkbox"> Ajax on menu</label> -->
                </div>
            </div>
        </div>
        <!--/span-->
        <!-- left menu ends -->


<div id="content" class="col-lg-10 col-sm-10">
            <!-- content starts -->
            
            {% block content %}{% endblock content %}

</div><!--/fluid-row-->

    <footer class="row">
        <p class="col-md-9 col-sm-9 col-xs-12 copyright">&copy; <a href="#" target="_blank">Seb & Ali
                </a> 2017</p>

        
    </footer>

</div><!--/.fluid-container-->

<!-- external javascript -->

<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

<!-- library for cookie management -->
<!--<script src="js/jquery.cookie.js"></script> -->
<!-- calender plugin -->
<script src='bower_components/moment/min/moment.min.js'></script>
<script src='bower_components/fullcalendar/dist/fullcalendar.min.js'></script>
<!-- data table plugin -->
<script src='js/jquery.dataTables.min.js'></script>

<!-- select or dropdown enhancer -->
<script src="bower_components/chosen/chosen.jquery.min.js"></script>
<!-- plugin for gallery image view -->
<script src="bower_components/colorbox/jquery.colorbox-min.js"></script>
<!-- notification plugin -->
<script src="js/jquery.noty.js"></script>
<!-- library for making tables responsive -->
<script src="bower_components/responsive-tables/responsive-tables.js"></script>
<!-- tour plugin -->
<script src="bower_components/bootstrap-tour/build/js/bootstrap-tour.min.js"></script>
<!-- star rating plugin -->
<script src="js/jquery.raty.min.js"></script>
<!-- for iOS style toggle switch -->
<script src="js/jquery.iphone.toggle.js"></script>
<!-- autogrowing textarea plugin -->
<script src="js/jquery.autogrow-textarea.js"></script>
<!-- multiple file upload plugin -->
<script src="js/jquery.uploadify-3.1.min.js"></script>
<!-- history.js for cross-browser state change on ajax -->
<script src="js/jquery.history.js"></script>
<!-- application script for Charisma demo -->
<script src="js/charisma.js"></script>
    </body>
</html>