form{
    padding-top: 40px;
    padding-left: 10px;
}
#search{
    height: 30px;
    border-radius: 10px;
    background-color: silver;
    color:white;
}
#addEmployeeButton,#addCustomerButton{
    height: 35px;
    width: 150px;
    border-radius: 10px;
    cursor: pointer;
}

table{
    border-collapse: collapse;
}
td,th{
    text-align:left;
    padding-left:0;
    width :150px;
    height:30px;
    border-bottom: 2px solid black;
}
#image{
    border: 1px solid #bbb;
    border-radius: 50%;
    width:60px;
    height:75px;
}
.button{
    float: right;
    width: 80px;
    height: 25px;
    text-decoration: none;
    display: inline-block;
    background-color:darkslategrey ;
    border-radius: 5px;
    color: white;
    padding-left: 8px;
    padding-top: 10px;
    text-align: center;
}
a:hover{
    color:yellow;
}
