main {
    color: white;
    width: 100%;
    min-height: 750px;
    background: white url("../images/Bluewallpapers4.jpg") no-repeat center;
}
.errorList{
    color: red;
}
header {
    padding-left: 20%;
    padding-top: 10%;
}

main header h1 {
    font-size: 3em;
    font-family: 'Coiny', cursive;
    margin-bottom: 0;
}

main header h4 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
    margin-top: 0;
}

main table{
    padding-left:20%;
}

#username, #pass {
    color: white;
    background-color: darkblue;
    border-color: royalblue;
    border-radius: 10px;
    height: 30px;
    width: 250px;
}

#btnLogin{
    color:white;
    height: 40px;
    width: 100px;
    background-color:royalblue;
    border-color:royalblue;
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
    font-weight:bold;
}

#btnLogin:hover{
    cursor:pointer;
}

 #forgetpass{
     padding-left:30px;
     color:white;
 }